@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

:root {
  --ff-primary: 'DM Sans', sans-serif;

  --clr-red: #ec755d;
  --clr-cyan: #76b5bc;
  --clr-dark-brown: #382314;
  --clr-white: #fff;
  --clr-medium-brown: #92857a;

  --clr-chart: #fffbf6;
  --clr-cream: #f8e9dd;

  --fs-250: 0.9375rem;
  --fs-350: 1.125rem;
  --fs-500: 2rem;
  --fs-700: 3rem;

  --fw-bold: 700;
}

@media (max-width: 40em) {
  :root {
    --fs-250: 0.75rem;
    --fs-350: 0.9375rem;
    --fs-500: 1.5rem;
    --fs-700: 1.875rem;
  }
}

/* Basic Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  background-color: var(--clr-cream);
}

/* Utils */

.container {
  --_max-width: 540px;
  --_padding: 1rem;
  width: min(var(--_max-width), calc(100% - 2 * var(--_padding)));
  margin-inline: auto;
}

.flex {
  display: flex;
  gap: var(--_gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--_gap, 1rem);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.bg-red {
  background-color: var(--clr-red);
}

.bg-cyan {
  background-color: var(--clr-cyan);
}

.bg-chart {
  background-color: var(--clr-chart);
}

.card-radius {
  border-radius: 20px;
}

.underline {
  margin-block: 2rem;
  width: 100%;
  height: 2px;
  background-color: var(--clr-cream);
  border-radius: 1px;
}

.main {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0%);
  flex-direction: column;
  gap: 1.5rem;
}

.main__balance-info {
  padding: 2rem 1.5rem;
  width: 100%;
  justify-content: space-between;
}

.balance__text-container {
  flex-direction: column;
  gap: 0.5rem;
}

.balance__text {
  color: var(--clr-white);
  font-size: var(--fs-350);
}
.balance__amount {
  color: var(--clr-chart);
  font-size: var(--fs-500);
}

.main__chart-container {
  padding: 2rem 2.5rem 2.5rem 2.5rem;
}

.chart__last {
  font-size: var(--fs-500);
  color: var(--clr-dark-brown);
}

.chart-month {
  justify-content: space-between;
  align-items: end;
}

.month__money {
  font-size: var(--fs-700);
  color: var(--clr-dark-brown);
}

.month__month,
.month__from {
  color: var(--clr-medium-brown);
  font-size: var(--fs-350);
}

.month__percantage {
  text-align: right;
  font-size: var(--fs-350);
  color: var(--clr-dark-brown);
}

/* CHART */

.chart__display {
  margin-top: 4rem;
  align-items: end;
  grid-template-columns: repeat(7, 1fr);
}

.chart__col {
  flex-direction: column;
  gap: 0.5rem;
}

.chart__day {
  text-align: center;
  color: var(--clr-medium-brown);
}

.chart__drawing {
  border-radius: 5px;
  height: var(--_height);
  cursor: pointer;
  transition: opacity 300ms ease;
  position: relative;
}

.chart__drawing:hover::before {
  content: '$' attr(data-amount);

  position: absolute;
  opacity: 1;
  top: -1.5rem;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--clr-dark-brown);
  border-radius: 0.3125rem;
  padding: 0.5rem 0.25rem;
  color: var(--clr-chart);
}

.chart__drawing:hover {
  opacity: 0.8;
}

@media (max-width: 40em) {
  .chart__display {
    gap: 0.25em;
  }
}
